.infoCardHeadline {
    font-family: serif;
    font-size: 2.25rem;
    border: 2px solid black;
    padding: 24px;
    color: black;
    font-weight: bold;
}

.infoCardCallActionContainer :global(.vtex-button) {
    color: white;
    background-color: gray;
    border: 1px solid gray;
    transition: .5s;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
    color: gray;
    background-color: white;
    border: 1px solid black;
    transition: .5s;
}
.infoCardContainer{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0;
}

.infoCardContainer--metal {
    background-color: #e1e1e1;
}
.infoCardContainer--vintage {
    background-color: #EDCFD1;
}